USE [master]
GO
/****** Object:  Database [PE2018]    Script Date: 7/7/2020 10:02:38 PM ******/
CREATE DATABASE [PE2018]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PE2018', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PE2018.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PE2018_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PE2018_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PE2018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PE2018]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/7/2020 10:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Product] ([ID], [Name], [Price]) VALUES (121, N'Rau Den', 20000)
INSERT [dbo].[Product] ([ID], [Name], [Price]) VALUES (123, N'Rau Muong', 12000)
USE [master]
GO
